* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

.container {
  width: 80%;
  height: 80%;
  border-style: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 5rem;
  height: 5rem;
  border: 2px solid green;
  color: white;
}
